main {
    max-height: 87.5vh;
    min-height: 87.5vh;
}
/* SIDEBAR */
#sidebar {
    width: 100%;
}
.wrapper {
    position: fixed;
    height: 88%;
    width: 100%;
    padding-top: 100px;
}
.hidden_box {
    display: none;
}
.hidden_img {
    padding-top: 100px;
}
.hidden_img>img {
    height: 30px;
}
.sidebar_home_menu img {
    width: 20px;
}
.sidebar_playlist_menu i {
    padding: 8px;
}
.sidebar_playlist_menu>ul>li {
    margin-bottom: 0.5rem;
}
.sideline {
    height: 20px;
    width: 3px;
    background: greenyellow;
    position: absolute;
    left: -8px;
}
.avatar_name_img {
    background-image: url(./img/profile.svg);
    background-position: center;
    background-size: cover;
    width: 30px;
    height: 30px;
}
hr {
    border-top: 1px solid #5a5a5a;
}
#sidebar li:hover a,
.install_app:hover a,
#main_nav a:hover {
    color: white;
    text-decoration: none;
}
.sidebar_playlist_menu li:hover i {
    background-color: white;
}
/* /END/ SIDEBAR */

/* NAVBAR TOP */
#navbar_top .navbar {
    width: 100%;
}
#logo_topbar {
    height: 40px;
}
#upgrade_btn {
    font-size: 14px;
}
#upgrade_btn:hover {
    font-size: 15px;
}
.op_box {
    opacity: 0.7;
    background-color: black;
    top: 0;
    right: 0;
    height: 100px;
    width: 100%;
}
.op_none {
    opacity: 1;
}
/* /END/ NAVBAR TOP */

/* MAIN CONTENT */
#main_nav {
    margin-top: 100px;
}
#main_nav>a {
    font-size: 14px;
    margin-bottom: 2rem;
}
.underline-short {
    display:inline-block;
    position:relative;
}
.underline-short::after{
    content:'';
    height:2px;
    width:40%;
    background:#587f28;
    position:absolute;
    left:calc(50% - 10%);
    bottom:-5px;
}
.play_img {
    height: 45px;
}
.card-body {
    padding: 0;
}
.card-title {
    font-size: 14px;
}
.hover_card i {
    font-size: 70px;
}
.card-img-top:hover {
    opacity: 0.5;
}
.hover_card:hover i {
    display: block!important;
}
/* /END/ MAIN CONTENT */

/* FOOTER */
.nav_box {
    min-height: 90px;
}
.play_title {
    line-height: 0.5;
    font-size: 15px;
}
.play_subtitle >a {
    font-size: 13px;
    text-decoration: none;
}
.play_subtitle>a:hover {
    color: white!important;
    text-decoration: underline;
}

.play_left_icons {
    font-size: 18px;
}
.play_left_icons>i:hover{
    color: white;
}

.play_middle_icons {
    font-size: 18px;
    height: 45px;
}
.play_middle_icons i:nth-of-type(3) {
    font-size: 35px;
}
.play_middle_icons i:nth-of-type(3):hover {
    font-size: 50px;
}
.play_middle .progress {
    width: 50%;
    height: 3px;
}
.progress-bar:hover {
    background-color: greenyellow;
}
.progress-bar:hover:after {
    background-color: lightgray;
    border-radius: 50%;
    content: "";
    height: 18px;
    width: 18px;
    margin-left: 36%;
    position: absolute;
}
.play_right .progress {
    width: 50%;
    height: 3px;
}
.play_right .progress-bar:hover:after {
    margin-left: 30%;
}
/* /END/ FOOTER */

/*** Utilities ***/
/* Background colors */
.bg_black {
    background-color: black;
}
.bg_lightblack {
    background-color: #141922;
}
.bg_play {
    background-color: #282828;
}
.bg_progress {
    background-color: #5a5a5a;
}
.bg_progress-bar {
    background-color: #c1c1c1;
}
/* TYPOGRAPHY */
.txt_darkwhite {
    color: #d2d2d2
}
.txt_darkgrey {
    color:#707070
}
.p_gray {
    font-size: 13px;
}
/* /END/ TYPOGRAPHY */

/* MEDIA QUERIES */
@media screen and (max-width: 575px) {
    #main_nav>a {
        font-size: 11.5px;
    }
    
    .wrapper>.row {
        display: none;
    }
    .hidden_box {
        display: block;
    }
}

@media (min-width: 576px) { 
    
}

@media (min-width: 768px) { ... }

@media (min-width: 992px) { ... }

@media (min-width: 1200px)