/* SIDEBAR */
#sidebar {
    padding-top: 12vh;
    height: 88vh;
}
#sidebar .container {
    height: 100%;
}
#logo_sidebar {
    height: 6vh;
}
#sidebar .sidebar_opacity>img {
    height: 4vh;
}
.playlist_menu {
    height: 30vh;
}
.create_playlist i {
    padding: 1.5vh;
    background-color: #707070;
}
.txt_darkgrey:hover {
    color: white;
    text-decoration: none;
}
.create_playlist:hover .fa-plus {
    background-color: white;
}
.sidebar_opacity {
    opacity: 0.7;
}
.sidebar_opacity:hover{
    opacity: 1;
}
a:hover {
    text-decoration: none;
    color: white;
}
.profile_bottom {
    height: 5vh;
    width: 5vh;
    padding: 1vh;
}
.playlist_bottom hr {
    border-top: 1px solid #5a5a5a;
}
/* /END/ SIDEBAR */

/* NAVBAR TOP */
#navbar_top .navbar {
    width: 100%;
}
#upgrade_btn {
    font-size: 15px;
}
#upgrade_btn:hover {
    font-size: 16px;
}
.op_box {
    opacity: 0.7;
    background-color: black;
    top: 0;
    right: 0;
    height: 12vh;
    width: 100%;
}
.op_none {
    opacity: 1;
}
/* /END/ NAVBAR TOP */

/* MAIN CONTENT */
#page_content {
    height: 88vh;
}
#main_nav {
    margin-top: 12vh;
}
.underline-short {
    display:inline-block;
    position:relative;
}
.underline-short::after{
    content:'';
    height:2px;
    width:20%;
    background:#587f28;
    position:absolute;
    left:calc(50% - 10%);
    bottom:-5px;
    display: none;
}
.underline-short:hover:after {
    display: block;
}
.play_img {
    height: 6vh;
}
.hover_card i {
    font-size: 70px;
}
.card-img-top:hover {
    opacity: 0.5;
}
.hover_card:hover i {
    display: block!important;
}
/* /END/ MAIN CONTENT */

/* FOOTER */
footer .row {
    height: 100%;
}
.nav_box {
    height: 12vh;
}
.play_title {
    line-height: 0.5;
    font-size: 16px;
}
.play_subtitle {
    font-size: 14px;
}
.play_left_icons {
    font-size: 18px;
}
.play_middle_icons {
    font-size: 20px;
}
.play_middle_icons i:nth-of-type(3) {
    font-size: 40px;
}
.play_middle .progress {
    width: 50%;
    height: 0.5vh;
}
.play_right .progress {
    width: 60%;
    height: 0.5vh;
}
/* /END/ FOOTER */

/*** Utilities ***/
/* Background colors */
.bg_black {
    background-color: black;
}
.bg_lightblack {
    background-color: #141922;
}
.bg_play {
    background-color: #282828;
}
.bg_progress {
    background-color: #5a5a5a;
}
.bg_progress-bar {
    background-color: #c1c1c1;
}
/* TYPOGRAPHY */
.txt_darkwhite {
    color: #d2d2d2
}
.txt_darkgrey {
    color:#707070
}
.p_gray {
    font-size: 13px;
}
/* /END/ TYPOGRAPHY */


